*{
	margin:0;
	padding:0;
}
body{
	background-image: linear-gradient(150deg, #91cf61, #61cfa1, #6194cf, #ac61cf);
}
.calculator{
	margin:50px auto;
	width: 400px;
	height: 650px;
	box-shadow: 0 0 60px -10px rgba(0, 9, 120, 0.39);
}
.header{
	height: 70px;
	padding: 40px 30px 40px 30px;
	background-color:#11002b;
}
input{
	width: 100%;
	text-align: right;
	background: transparent;
	border: none;
	outline: none;
}
.account{
	font-size: 180%;
	color: #00ffc4;
}
.account::placeholder{
	color: #00ffc4;
}
.result{
	font-size: 210%;
	color: white;
}
.result::placeholder{
	color: white;
}
.main{
	height:500px;
	display: table;
}
button{
	height: 100px;
	width: 100px;
	font-size: 180%;
	border: none;
}
.btnDigit{ 
	background-image: linear-gradient(150deg, #f4edfc, #ecdbff);
}
.btnOperation{
	background-image: linear-gradient(150deg, #77c8f7, #69bef0);
}
.btnExactly{ 
	width: 200px;
	background-image: linear-gradient(150deg, #7d3ae8, #6721d9);
}
.btnDigit:hover, .btnOperation:hover, .btnExactly:hover{
	filter: brightness(95%);
}